---
import { Image } from 'astro:assets';
import TestimonialItem from './TestimonialItem.astro';

const { title, subTitle, testimonials, imageSrc, imageAlt } = Astro.props;

interface Props {
  title: string;
  subTitle?: string;
  testimonials?: Testimonial[];
  imageSrc?: string;
  imageAlt?: string;
}

// TypeScript type for testimonials
type Testimonial = {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
};
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  {/* Container for the testimonials */}
  <div
    class="lg:grid lg:grid-cols-12 lg:items-center lg:justify-between lg:gap-16"
  >
    <div class="lg:col-span-6 lg:col-start-1">
      {/* Title and Subtitle */}
      <div class="mb-8">
        <h2
          class="mb-2 text-3xl font-bold text-neutral-800 lg:text-4xl dark:text-neutral-200"
        >
          <Fragment set:html={title} />
        </h2>
        {
          subTitle && (
            <p class="text-neutral-600 dark:text-neutral-400">{subTitle}</p>
          )
        }
      </div>

      {/* Testimonials List */}
      <div class="space-y-10">
        {
          testimonials &&
            testimonials.map(testimonial => (
              <TestimonialItem
                content={testimonial.content}
                author={testimonial.author}
                role={testimonial.role}
                avatarSrc={testimonial.avatarSrc}
              />
            ))
        }
      </div>
    </div>

    {/* Right Side - Course Image */}
    {
      imageSrc && imageAlt && (
        <div class="mt-10 lg:col-span-6 lg:col-end-13 lg:mt-0">
          <div class="overflow-hidden rounded-2xl">
            <Image
              src={imageSrc}
              alt={imageAlt}
              width={600}
              height={800}
              class="h-full w-full object-cover"
              draggable={'false'}
              loading={'lazy'}
              format={'avif'}
            />
          </div>
        </div>
      )
    }
  </div>
</section>
